* {
    box-sizing: border-box;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flex-item-left {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    /* background-color: dodgerblue; */
    padding: 10px;
    flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}
